<h1>Sign In ya Wiennie!</h1>
<form class="" action="/settingForm" method="post">
  <input type="text" name="nameLogin"  placeholder="Name">
  <input type="password" name="passLogin"  placeholder="PassWord">
  <input type="submit"  value="Login">
</form>
